html{
    background-color: whitesmoke;
}
body {
    font-family: 'Roboto', sans-serif;
    /* Sets a heirachy of fonts to display*/
    line-height: 1.3;
    /* This is the space between two baselines*/
}
h1 { 
    color: burlywood
    /* This sets the color of the h1 text in index.html */
}
